Repository albernnV/D7024E, pull requests merged in 2021-10, with the labels that each got.

#38 Implement Find node RPC
  pkg/kademlia/contact.go
  pkg/kademlia/kademlia.go
  pkg/kademlia/kademlia_test.go
  pkg/kademlia/network.go
Labels: implementation

#40 Storing objects almost done - only testing needed
  pkg/kademlia/kademlia.go
  pkg/kademlia/kademliaid.go
  pkg/kademlia/network.go
Labels: implementation

#44 Implemented send find_value
  pkg/kademlia/kademlia.go
  pkg/kademlia/network.go
Labels: implementation

#45 Implementation for updating the k-buckets
  pkg/kademlia/kademlia.go
  pkg/kademlia/kademlia_test.go
  pkg/kademlia/network.go
  pkg/kademlia/routingtable.go
  src/KademliaNode/main.go
Labels: implementation

#46 Unit test for HashingData
  pkg/kademlia/kademlia.go
  pkg/kademlia/kademlia_test.go
Labels: unit test

#53 Removed findClosestContact
  pkg/kademlia/kademlia.go
  pkg/kademlia/kademlia_test.go
Labels: refactoring

#55 Unit test for kademliaid.go
  pkg/kademlia/kademliaid_test.go
Labels: unit test

#59 bucket unit test finished
  pkg/kademlia/bucket.go
  pkg/kademlia/bucket_test.go
Labels: unit test

#60 Implement a way to store files that are received from the network
  pkg/kademlia/network.go
Labels: implementation

#66 Add unit tests for ShortlistToString and StringToContact
  pkg/kademlia/network.go
  pkg/kademlia/network_test.go
Labels: unit test

#67 Add unit tests for preprocessShortlist and preprocessIncomingMessage
  pkg/kademlia/network.go
  pkg/kademlia/network_test.go
Labels: unit test

#69 Add unit tests for PING and PONG messages
  pkg/kademlia/kademlia.go
  pkg/kademlia/network.go
  pkg/kademlia/network_test.go
Labels: unit test
